= wrap_layout :markdown_page do
  - if job_for_current_page
    :markdown
      GitLab Inc. is a company based on the GitLab open-source project. GitLab is
      a community project to which over 1,000 people worldwide have contributed.
      We are an active participant in this community, trying to serve its needs
      and lead by example. We have one [vision]: everyone can contribute to all
      digital content, and our mission is to change all creative work from
      read-only to read-write so that everyone can contribute.

      We [value] results, transparency, sharing, freedom, efficiency, frugality,
      collaboration, directness, kindness, diversity, inclusion and belonging, boring solutions, and
      quirkiness. If these values match your personality, work ethic, and personal
      goals, we encourage you to visit our [primer] to learn more. Open source is
      our culture, our way of life, our story, and what makes us truly unique.

      [vision]: /strategy
      [value]: /handbook/values
      [primer]: /primer

    = partial "includes/reasons_to_work_for_gitlab"

    :markdown
      See [our culture page](/company/culture/) for more!

  = yield
